In [2]:
#Python learning

#Chapter 1 - Print

name = "Hello - world"
print (name)

Hello - world

In [18]:
#Chapter 2 - variables for strings

name = "mark"
age = "65"
print (name,age)

mark 65

In [16]:
#chapter 3 = variable for numbers

Pakistan_1 = 50
India = 100
Pakistan_1 + India
#India + 20

150

In [3]:
whats_left_over = 10 % 3
print (whats_left_over)

1

In [7]:
age = age + 1
age = 2

age_2 = 4
age_3 = age_2 + age
print (age_3)

6

In [12]:
length = 3
length += 2
print (length)

5

In [15]:
length = (1 + 4)*   3
print (length)

15

In [23]:
hello = "hello"
space = "2"
world = "world"
hello_world = hello + space + world
print(hello_world)

hello2world

In [31]:
age2 = "2"
age3 = str(3+2)
age4=age2+age3
print (age4)

25

In [52]:
array1 = ["name",3,4]
print (array1[0])

name

In [73]:
object1 = {"name":4,"age":24}
object1["name"] + object1["age"]

28

In [68]:
object2 = {"name":array1[0],"age":"24"}
print (object2)

object2["name"] + object1["age"]

{'name': 'name', 'age': '24'}

'name24'

In [63]:
print (object2["name"])

name

In [64]:
print (object1["age"])

24

In [82]:
if object1["age"] == 24:
    print ("age is correct")
else:
    print("age is incorrect")

age is correct